pipelines:
    default:
      - step:
          name: Sync GitHub Mirror
          image: alpine/git:latest
          clone:
            enabled: false
          script:
            - git clone --mirror https://x-token-auth:"$BITBUCKET_VARIABLE1"@bitbucket.org/avinash1196/migration-project.git ## @bitbucket.org follow by your Bitbucket repository path
            - cd migration-project.git ## cd followed by your Github repository Name
            - git push --mirror https://x-token-auth:"$GITHUB_VARIABLE"@github.com/avinashgoud1105-hash/Demoproject-on-Bitbucket.git ## @github.com followed by your Github repository path